.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-primary{
    background: var(--primary);
    color: #000;
    transition: all .3s ease;
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-scndry{
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
    transition: all .4s;
}
.btn-scndry:hover{
    background: var(--primary);
    color: #000;
}
.flex-1{
   flex: 1; 
}
.justify-center{
    justify-content: center;
}
.img-icon{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    font-size: 2rem;
}